extends layout

block content
  h1 Here is the List of your Today's Remote Jobs
  ul  
    for job in jobs
      span.title. Title: #{job.title}
      br 
      span.company. Company: #{job.company} 
      br
      span.technologies. Technologies: 
      for tech in job.technologies
        span #{tech} 
      br
      br
